@import 'INJECTED_THEME';
body, html, #root {
  margin: 0;
  padding: 0;
}

.main {
  background: $background;
  color: $color;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
